


.navbar .sandwich-nav b a {

  color: #3ca65e;
  font-size: 18px;
}

.shock-text {

  font-size: 60px !important;
}

.full-media-content .custom-sides {

  padding: 36px !important;
}

.full-media-content .inner-content {

  background: #000000 !important;
}

.sayHello a {

  color: #3ca65e !important;
}

*::-webkit-media-controls-panel {

  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {

  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  
  display: none!important;
  -webkit-appearance: none;
}

@media screen and (max-width: 500px) {

  .shock-text {

    font-size: 32px !important;
  }
}
